<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Meus contatos</h2>
            <div *ngIf="mensagem" [ngClass]="classesCSS" role="alert">
                <span [ngSwitch]="mensagem.type">
                    <strong *ngSwitchCase="'danger'">Erro</strong>
                    <strong *ngSwitchCase="'success'">Deu certo</strong>
                    <strong *ngSwitchCase="'warning'">Atenção</strong>
                    <strong *ngSwitchDefault>Informação</strong>
                </span>
                {{mensagem.message}}
            </div>
            <a class="btn btn-success" routerLink="/contato/save">Novo</a>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" *ngIf="!contatos.length" align="center">Não há contatos para ser exibido</td>
                    </tr>
                    <tr *ngFor='let c of contatos' [routerLink]="['/contato/save',c.id]">
                        <td>{{c.nome}}</td>
                        <td>{{c.email}}</td>
                        <td>{{c.telefone}}</td>
                        <td><button (click)="onDelete(c);$event.stopPropagation()" class="btn btn-danger btn-block"><i class="fa fa-times"></i>Exclir</button></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</div>