<div class="container">
    <div class="row">
        <div class="col-md-12"><h3>Busca</h3>
            <div class="form-group">
                <label for="search">Email address</label>
                <input type="search" class="form-control" placeholder="Digite sua busca"
            [ngModel]="busca" (ngModelChange)="searchName($event)"> 
            
            </div>
            <ul class="list-group">
                <li (click)="goToContactDetail(c)" class="list-group-item" *ngFor="let c of contatos | async">{{c.nome}}</li>
            </ul>
        </div>
    </div>
</div>