<div class="container">
    <h2>Salvar contato</h2>
    <form #contatoForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text" #nome="ngModel" name="name" required  [ngClass]="getFormControlClass(nome.valid, nome.pristine)" placeholder="Digite seu nome" [(ngModel)]="contato.nome" #sky>
            <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">O campo nome é obrigatório</div>
        </div>
        <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
            <label for="email">Email</label>
            <input type="email" #email="ngModel" name="email" required [ngClass]="getFormControlClass(email.valid, email.pristine)" placeholder="Digite seu email" [(ngModel)]="contato.email">
            <div class="form-control-feedback" [hidden]="email.valid || email.pristine">O campo email é obrigatório</div>
        </div>
        <div [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" #telefone="ngModel" required [ngClass]="getFormControlClass(telefone.valid, telefone.pristine)" placeholder="Digite seu telefone" [(ngModel)]="contato.telefone">
            <div class="form-control-feedback" [hidden]="telefone.valid || telefone.pristine">O campo telefone é obrigatório</div>
        </div>
        <button type="submit" [disabled]="!contatoForm.form.valid" class="btn btn-success">Salvar</button>
        <a (click)="goBack()" class="btn btn-default">Voltar</a>    
    </form>
</div>